body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
  padding: 20px;
  letter-spacing: 2px;
}

h1 {
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  background-color: rgb(173, 216, 230, 0.5);
  border-radius: 5px;
  padding: 7px;
  margin: 0 auto;
  width: 45%;
  border-width: 1px;
  border-color:  black;
}

button {
  padding: 10px;
  margin: 0 auto;
  border-style: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: 45%;
  letter-spacing: 2px;
}

button:hover {
  background-color: darkblue;
  color: lightgray;
}

div {
  text-align: center;
}